.nav {
    grid-area: nav;
    background-color: burlywood;
    padding: 20px;
}

.item a {
    color: whitesmoke;
    text-decoration: none;
}

.item a.active {
    color: gold;
}

.friendsBlock {
    margin-top: 20px;
}

.friends {
    display: flex;
}